{% extends "wishlist/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
{% autoescape off %}
{% if wish_list %}
{% for wish in wish_list %}
<article>
  {% if wish.bought and not nospoiler %}
  <del>
    {% endif %}
    <h3>{{ wish.title_text }}
    {% if wish.bought and not nospoiler %} ({% trans "wird schon geschenkt" %}){% endif %}</h3>
    <p>{{ wish.description_text }}</p>
    {% if wish.bought and not nospoiler %}
  </del>
  {% else %}
  {% comment %} <form action="{% url 'nick_entry' wish.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="{% trans "Das schenke ich!" %}" aria-label="{% trans "Das schenke ich:" %} {{ wish.title_text }}">
  </form> {% endcomment %}
  <a class="buy-button" href="{% url 'nick_entry' wish.id %}" aria-label="{% trans "Das schenke ich:" %} {{ wish.title_text }}">{% trans "Das schenke ich!" %}</a>
  {% endif %}
</article>
{% endfor %}

<p id="Dank">{% trans "Vielen Dank!" %}</p>
{% else %}
<p>{% trans "Wunschlos glücklich!" %}</p>
{% endif %}
{% endautoescape %}
{% endblock %}