/* bitter-regular - latin */

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/bitter/bitter-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Bitter Regular'), local('Bitter-Regular'), url('fonts/bitter/bitter-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/bitter/bitter-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/bitter/bitter-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/bitter/bitter-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/bitter/bitter-v15-latin-regular.svg#Bitter') format('svg');
    /* Legacy iOS */
}

/* kalam-regular - latin */

@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/kalam/kalam-v10-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Kalam'), local('Kalam-Regular'), url('fonts/kalam/kalam-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/kalam/kalam-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/kalam/kalam-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/kalam/kalam-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/kalam/kalam-v10-latin-regular.svg#Kalam') format('svg');
    /* Legacy iOS */
}

/* open-sans-regular - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/opensans/open-sans-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('fonts/opensans/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/opensans/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/opensans/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/opensans/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/opensans/open-sans-v17-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

:root {
    --highlight-color: hsla(239, 53%, 25%, 100%);
    --background-color: hsla(239, 53%, 85%, 100%);
    /* --background-color: #cbc1ff; */
    --main-color: black;
    --del-color: gray;
}

html {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--main-color);
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 3rem;
    text-align: center;
    margin: 1ex 3vw 0.5ex;
}

#Dank {
    font-family: 'Kalam', cursive;
    font-style: normal;
    color: var(--highlight-color);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: bold;
}

h1 em {
    font-family: 'Kalam', cursive;
    text-decoration: underline;
    font-style: normal;
    color: var(--highlight-color);
    text-decoration-color: var(--main-color);
}

main {
    line-height: 2;
    letter-spacing: 1px;
    padding: 0 10vw 20px;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0 auto;
}

article {
    margin: 3rem 0;
    padding: 0 1.8rem 0;
}

h3 {
    font-family: 'Kalam', cursive;
    color: var(--highlight-color);
    line-height: 1.2;
    margin-bottom: 0;
}

article h3 {
    margin: 0 -1.8rem -0.3em;
    line-height: 1.2;
}

p {
    margin: 0.3rem 0;
}

a {
    color: var(--highlight-color);
}

del {
    --highlight-color: var(--del-color);
    color: var(--del-color);
}

input[type="submit"] {
    -webkit-appearance: none;
    padding: 0.25em 1em;
    font-size: 0.8rem;
    text-align: center;
    color: var(--main-color);
    background-color: hsla(0, 100%, 100%, 30%);
    display: block;
    margin: 0.25rem 0 0;
    border: 1px solid var(--highlight-color);
    border-radius: 0.5em;
}

.url {
    word-break: keep-all;
}

.ribbon {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    --ribbon-height: 2rem;
}

.mainribbon {
    background-image: url("images/ribbon3.svg");
    background-size: contain;
    height: var(--ribbon-height);
    width: calc(var(--ribbon-height)*2.3574303331667);
}

.leftribbon {
    background-color: var(--highlight-color);
    width: 10vw;
    height: calc(var(--ribbon-height)*0.4);
}

.rightribbon {
    background-color: var(--highlight-color);
    flex: 1;
    height: calc(var(--ribbon-height)*0.4);
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: .6rem;
    text-align: center;
}

@media (max-width: 1000px) {
    html {
        font-size: 18px;
    }
    h1 {
        hyphens: auto;
        font-size: 2.5rem;
    }
    main {
        padding: 0 5vw 10px;
    }
    article {
        padding: 0;
        hyphens: auto;
    }
    article h3 {
        margin: 0;
        font-size: 1.5rem;
    }
    .url {
        word-break: break-word;
        display: block;
    }
    input[type="submit"] {
        padding: 0.7em 1em;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .url {
        word-break: break-all;
    }
}