<!DOCTYPE html>

{% load static %}

<html lang="de-DE">

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ ownertext }} {{ titletext }}">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'wishlist/images/icon.ico' %}">
    <title>{{ ownertext }} {{ titletext }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wishlist/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Kalam|Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1><em>{{ ownertext }}</em> {{ titletext }}</h1>
    </header>

    <div class="ribbon">
        <div class="leftribbon"></div>
        <div class="mainribbon"></div>
        <div class="rightribbon"></div>
    </div>

    <main>


        {% block content %}{% endblock %}


    </main>

    <footer>
        <p>dasNessie, <a href="https://github.com/dasnessie/wishlist/">Wishlist on Github</a></p>
    </footer>
</body>

</html>