<!DOCTYPE html>

{% load static %}

<html lang="de-DE">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Wunschzettel von Nessie">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'wishlist/images/icon.ico' %}">
  <title>Nessies Wunschzettel</title>
  <link rel="stylesheet" type="text/css" href="{% static 'wishlist/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Kalam|Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1><em>Nessies</em> Wunsch&shy;zettel</h1>
  </header>

  <div class="ribbon">
    <div class="leftribbon"></div>
    <div class="mainribbon"></div>
    <div class="rightribbon"></div>
  </div>

  <main>


    {% autoescape off %}
    {% if wish_list %}
    {% for wish in wish_list %}
    <article>
      {% if wish.bought %}
      <del>
        {% endif %}
        <h3>{{ wish.title_text }}</h3>
        {{ wish.description_text }}
        {% if wish.bought %}
      </del>
      {% else %}
      <form action="{% url 'buy' wish.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Das schenke ich!">
      </form>
      {% endif %}
    </article>
    {% endfor %}

    <p id="Dank">Vielen Dank!</p>
    {% else %}
    <p>Wunschlos glücklich!</p>
    {% endif %}
    {% endautoescape %}


  </main>

  <footer>
    <p>dasNessie, <a href="https://github.com/dasnessie/wishlist/">Wishlist on Github</a></p>
  </footer>
</body>

</html>