{% extends "wishlist/base.html" %}

{% load static %}

{% block content %}
{% autoescape off %}
{% if wish_list %}
{% for wish in wish_list %}
<article>
  {% if wish.bought %}
  <del>
    {% endif %}
    <h3>{{ wish.title_text }}
    {% if wish.bought %} (wird schon geschenkt){% endif %}</h3>
    <p>{{ wish.description_text }}</p>
    {% if wish.bought %}
  </del>
  {% else %}
  <form action="{% url 'buy' wish.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Das schenke ich!" aria-label="Das schenke ich: {{ wish.title_text }}">
  </form>
  {% endif %}
</article>
{% endfor %}

<p id="Dank">Vielen Dank!</p>
{% else %}
<p>Wunschlos glücklich!</p>
{% endif %}
{% endautoescape %}
{% endblock %}