:root {
    --highlight-color: #1e1f63;
    --background-color: #cbc1ff;
    --main-color: black;
    --del-color: gray;
}

html {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--main-color);
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 3rem;
    text-align: center;
    margin: 1ex 3vw 0.5ex;
}

#Dank {
    font-family: 'Kalam', cursive;
    font-style: normal;
    color: var(--highlight-color);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: bold;
}

h1 em {
    font-family: 'Kalam', cursive;
    text-decoration: underline;
    font-style: normal;
    color: var(--highlight-color);
    text-decoration-color: var(--main-color);
}

main {
    line-height: 2;
    letter-spacing: 1px;
    padding: 0 10vw 20px;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0 auto;
}

article {
    margin: 2ex 0;
    padding: 0 3em 0;
}

h3 {
    font-family: 'Kalam', cursive;
    color: var(--highlight-color);
}

article h3 {
    margin: 0 -2em 0;
}

a {
    color: var(--highlight-color);
}

del {
    --highlight-color: var(--del-color);
    color: var(--del-color);
}

.url {
    word-break: keep-all;
}

.ribbon {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.mainribbon {
    background-image: url("images/ribbon3.svg");
    background-size: contain;
    width: 14.144581999ex;
    height: 6ex;
}

.leftribbon {
    background-image: url("images/ribbon-plain.svg");
    background-size: contain;
    width: 10vw;
    height: 6ex;
    background-repeat: repeat-x;
}

.rightribbon {
    flex: 1;
    height: 6ex;
    background-image: url("images/ribbon-plain.svg");
    background-size: contain;
    background-repeat: repeat-x;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: .6rem;
    text-align: center;
}

@media (max-width: 1000px) {
    h1 {
        hyphens: auto;
    }
    main {
        padding: 0 5vw 10px;
    }
    article {
        padding: 0;
        hyphens: auto;
    }
    article h3 {
        margin: 0;
        font-size: 1.2rem;
    }
    .url {
        word-break: break-word;
        display: block;
    }
}

@media (max-width: 500px) {
    .url {
        word-break: break-all;
    }
}